.allrepos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.desc{
  min-height: 95px;
}
.top{
  font-weight: 550;
}
.btn-group{
  margin-left: 13px;
}
#visit a{
  text-decoration: none;
  color: whitesmoke;
}
.repo{
  background-color:grey;
  color: black;
  margin-bottom: 2%;
  border-radius: 4px; 
}
.form-control::placeholder{
  color: white;
}